$color-702A14: #702a14;
$color-ccc: #ccc;
$color-1A1A1A: #1a1a1a;
$color-ffffff: #ffffff;
$color-808080: #808080;
$color-ee5824: #ee5824;
$color-333333: #333333;
$color-E5E5E5: #e5e5e5;
$color-999999: #999999;
$font-family: Open-Sans;

.timeline-custom {
  &-header {
    &-button {
      gap: 4px;
      border-radius: 24px !important;
      border-color: $color-ee5824;

      &:hover,
      &:active {
        border-color: $color-ee5824 !important;
        color: $color-ffffff !important;
        outline: none;
      }

      & > span {
        &:first-child {
          margin-inline-end: 0 !important;
        }
      }
    }
  }

  &-schedule {
    &-avatar {
      border: 2px solid $color-ee5824;
      border-radius: 50%;
      background-color: #f4f8fb;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      & > svg {
        width: 32px;
        height: 32px;
      }

      & > .ant-image {
        border-radius: 50%;

        & > .ant-image-img {
          width: 52px;
          object-fit: contain;
        }
      }
    }
  }

  &-range-picker {
    border-radius: 32px;
    border-color: $color-ccc;

    &:hover,
    &:focus,
    &:active {
      border-color: $color-ccc;
    }

    &.ant-picker-focused {
      border-color: $color-ccc;
    }

    & .ant-picker-active-bar {
      background: $color-ee5824;
      margin-inline-start: 20px;
      width: 80px !important;
    }

    & .ant-picker-input {
      & > input {
        &::placeholder {
          font-size: 14px;
          color: $color-999999;
        }
      }
    }
  }

  &-select {
    & .ant-select-selection-placeholder {
      font-size: 14px;
      color: $color-999999;
      font-family: $font-family;
    }
  }

  &-input {
    margin-right: 16px;

    & .ant-input {
      &::placeholder {
        font-size: 14px;
        font-family: $font-family;
        color: $color-999999;
      }
    }
  }

  &-day {
    &-header {
      position: sticky;
      top: 0;
      z-index: 100;
    }

    &.react-calendar-timeline {
      overflow: auto;
      border: 1px solid $color-ccc;
      border-bottom: none;
      max-height: calc(100vh - 382px);

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: $color-E5E5E5;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-702A14;
        border-radius: 8px;
      }

      & > .rct-header-root {
        background: $color-ffffff;
        border-bottom: none;

        & > .rct-calendar-header {
          border: none;

          & > div {
            & > .rct-dateHeader {
              border-bottom: 1px solid $color-ccc;
              border-left: 1px solid $color-ccc;
              background-color: rgba(238, 88, 36, 0.1);

              & > span {
                font-size: 14px;
                font-weight: 600;
                color: #702a14;
                font-family: $font-family;
              }
            }
          }
        }
      }

      & > .rct-outer {
        & > .rct-sidebar {
          border-right: 1px solid $color-ccc;

          & .rct-sidebar-row {
            border-bottom: 1px solid $color-ccc;
            padding: 0;
            color: $color-1A1A1A;
            background-color: $color-ffffff;
            font-family: $font-family;

            & > div {
              width: 100%;
            }
          }
        }

        & > .rct-scroll {
          & .rct-hl-even,
          & .rct-hl-odd {
            border-bottom: 1px solid $color-ccc;
            background: $color-ffffff;
            position: relative;
          }

          // & .rct-hl-even {
          //   &:nth-last-child(2) {
          //     border-bottom: none;
          //   }
          // }

          & .rct-vertical-lines {
            & > .rct-vl {
              border-left: none;
              background: $color-ffffff;
            }
          }

          & .rct-items {
            & > .rct-item {
              border-radius: 4px;
              display: flex;
              flex-flow: column wrap;
              justify-content: center;
              gap: 2px;
              line-height: normal !important;
              border-width: 1px !important;
              border-image: none 100% 1 0 stretch !important;

              & > .rct-item-content {
                padding: 4px 0 4px 8px;

                & > div {
                  height: 100%;

                  & > span {
                    font-family: $font-family;

                    &:first-child {
                      color: #666;
                    }

                    &:last-child {
                      color: $color-333333;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &-current {
      background-color: #feefea !important;
      border-bottom: 1px solid $color-ccc;
      z-index: 41 !important;

      &-header {
        background-color: rgba(238, 88, 36, 0.2) !important;
      }
    }

    &-sidebar {
      border-bottom: 1px solid $color-ccc;
      border-right: 1px solid $color-ccc;

      & > p {
        margin-bottom: 0;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        color: $color-1A1A1A;

        &:first-child {
          display: flex;
          gap: 5px;
        }
      }
    }

    &-popover {
      & .ant-popover-inner {
        padding: 18px;
        border-radius: 7px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
      }

      &-button {
        padding: 0;
        height: auto;
        text-align: left;

        & > span {
          color: $color-1A1A1A;
          font-family: $font-family;
        }

        &:hover {
          background-color: transparent !important;
          color: $color-1A1A1A !important;
        }
      }
    }
  }

  &-note {
    margin-top: 14px;

    & span {
      font-family: $font-family;
      color: $color-333333;
    }

    &-block {
      width: 64px;
      height: 32px;
      border-radius: 4px;
      border: 1px solid;
    }
  }

  &-control {
    &-form {
      max-width: 100% !important;
    }

    &-picker {
      &-button {
        padding: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
        width: auto;
        height: auto;
        line-height: normal;
      }

      &-form {
        margin-bottom: 0;
        width: auto;

        &-week {
          z-index: 1;
          opacity: 0;
          position: relative;
        }

        &-popup {
          & .ant-picker-month-btn,
          & .ant-picker-year-btn {
            &:hover {
              color: $color-ee5824 !important;
            }
          }

          & .ant-picker-week-panel-row-selected {
            & > .ant-picker-cell {
              &::before {
                background: $color-ee5824 !important;
              }

              &.ant-picker-cell-week {
                &::before {
                  background: $color-ee5824;
                }
              }

              &.ant-picker-cell-in-view {
                &::before {
                  background: $color-ee5824;
                }
              }
            }
          }

          & .ant-picker-cell {
            & > .ant-picker-cell-inner {
              font-family: $font-family !important;
            }

            &.ant-picker-cell-in-view {
              color: $color-1A1A1A;
            }

            &.ant-picker-cell-today {
              & > .ant-picker-cell-inner {
                &::before {
                  border-color: $color-ee5824 !important;
                }
              }
            }

            &.ant-picker-cell-selected {
              & > .ant-picker-cell-inner {
                background: $color-ee5824 !important;
              }
            }
          }

          & .ant-picker-today-btn {
            color: $color-ee5824 !important;
          }
        }

        &-label {
          left: 3px;
          top: 5px;
        }

        & .ant-col {
          max-width: 100%;

          & .ant-picker {
            width: auto;
            height: 32px;
            border: 0;
            background: transparent;
            cursor: pointer;
            font-family: $font-family;
            font-size: 14px;
            font-weight: 700;
            padding: 0;

            &-focused {
              box-shadow: none;
            }

            &-input {
              height: 100%;

              & > input {
                height: 100%;
                border: 0;
                font-family: $font-family;
                font-size: 14px;
                font-weight: 700;
                color: $color-1A1A1A;
                outline: none;
                box-shadow: none;
                text-transform: capitalize;
                text-align: center;
                font-family: $font-family;

                &:focus-visible {
                  border: 0;
                }
              }
            }
          }
        }
      }
    }

    &-mode {
      &-form {
        margin-bottom: 0;

        & .ant-col {
          max-width: 100%;
        }

        & .ant-radio-group {
          font-family: $font-family;
          border: 1px solid $color-808080;
          border-radius: 20px;

          & .ant-radio-button-wrapper {
            height: 36px;
            font-family: $font-family;
            color: $color-333333;
            border: 0;
            width: 84px;
            text-align: center;
            line-height: 36px;
            background-color: transparent;
            padding-inline: 0 !important;

            &:active,
            &:hover {
              color: $color-ffffff;
              background: $color-ee5824;
              border-color: $color-ee5824;
            }

            & > span {
              &:last-child {
                font-size: 14px;
                font-weight: 600;
              }
            }

            &:first-child {
              border-radius: 20px;
            }

            &:last-child {
              border-radius: 20px;

              &::before {
                content: none;
              }
            }

            &-checked {
              color: $color-ffffff;
              background: $color-ee5824;
              border-color: $color-ee5824;
            }
          }
        }

        & .ant-divider {
          height: 19px;
          margin: 0 12px;
          width: 1px;
          background: $color-808080;
          top: 0;
        }
      }
    }
  }

  &-month {
    &.rbc-calendar {
      height: 1093px;
      overflow-y: auto;

      & > .rbc-month-view {
        border: 0;

        & > .rbc-month-header {
          & > .rbc-header {
            padding: 12px 0;
            border-left-color: $color-ccc;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(238, 88, 36, 0.1);
            border-top: 1px solid $color-ccc;
            border-bottom: 1px solid $color-ccc;

            &:first-child {
              border-top-left-radius: 20px;
              border-left: 1px solid $color-ccc;
            }

            &:last-child {
              border-top-right-radius: 20px;
              border-right: 1px solid $color-ccc;
            }

            & > span {
              font-family: $font-family;
              font-size: 14px;
              font-weight: 600;
              color: $color-702A14;
              text-transform: capitalize;
            }
          }
        }

        & > .rbc-month-row {
          &:last-child {
            & > .rbc-row-bg {
              & > .rbc-day-bg {
                border-bottom: 1px solid $color-ccc;

                &:first-child {
                  border-radius: 0 0 0 20px;
                }

                &:last-child {
                  border-radius: 0 0 20px 0;
                }
              }
            }
          }

          & > .rbc-row-bg {
            & > .rbc-day-bg {
              background: transparent;

              &:first-child {
                border-left: 1px solid $color-ccc;
              }

              &:last-child {
                border-right: 1px solid $color-ccc;
              }
            }
          }

          & > .rbc-row-content {
            & > .rbc-row {
              &:first-child {
                padding-top: 12px;
              }

              & > .rbc-date-cell {
                text-align: center;
                font-size: 14px;
                font-family: $font-family;
                padding-right: 0;
                color: $color-1A1A1A;

                &.rbc-off-range {
                  color: #999999;
                }
              }

              & .rbc-event {
                background: transparent;
                padding: 0;
                outline: 0;
                height: 100%;
                cursor: default;

                &:focus,
                &:hover {
                  outline: 0;
                }
              }
            }
          }
        }
      }
    }

    &-top {
      margin-top: 24px;
    }

    &-working {
      font-family: $font-family;
      color: $color-702A14;
      cursor: text;
    }

    &-data {
      font-family: $font-family;
      color: $color-333333;
      display: block;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      border: 2px solid #fc5c65;
      background: rgba(252, 92, 101, 0.2);
      text-align: center;
      line-height: 32px;
      cursor: text;
    }

    &-switch {
      &.ant-switch-checked {
        background: $color-ee5824;
      }

      &:hover {
        &.ant-switch-checked {
          background: $color-ee5824 !important;
        }
      }
    }
  }
}
