#form-change-password {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &__title {
      line-height: 36px;
      font-weight: 700;
      font-size: 14px;
      color: $text_black_light;
    }

    &__input {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      //gap: 25px;
      &__rows {
        width: 350px;
      }
    }
  }

  .ant-form-item {
    margin-bottom: 10px;

    .ant-form-item-row {
      flex-direction: column;
      gap: 2px;
    }

    .ant-form-item-label {
      text-align: start;
      padding: unset;

      label {
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        color: $text_black_light;
      }
    }
  }
}
