.ant-custom-input {
  height: 48px;
  border-radius: 32px;
  border: 1px solid $border_input_color !important;

  input {
    font-size: 14px !important;
  }
}

.ant-custom-area {
  border-radius: 15px;
}
