.ant-custom-select {
  height: 48px !important;

  .ant-select-selector {
    height: 100% !important;
    border-radius: 36px;

    .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
  }
}
