.ant-custom-select {
  height: 48px !important;

  .ant-select-selector {
    height: 100% !important;
    border-radius: 36px;
    border: 1px solid $border_input_color !important;
    font-size: 14px !important;

    .ant-select-selection-item {
      // display: flex;
      // align-items: center;
      align-self: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ant-select-selection-placeholder {
      align-self: center;
    }
  }
}

.ant-select-disabled {
  .ant-select-selector {
    background-color: $input_disabled-bg !important;
  }
}

.ant-select-multiple {
  .ant-select-selection-overflow {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
