.ant-custom-select {
  height: 48px !important;

  .ant-select-selector {
    height: 100% !important;
    border-radius: 36px;
    border: 1px solid $border_input_color !important;
    font-size: 16px !important;

    .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
  }
}
