.breadcrumb-container {
  margin-left: 30px;
  font-family: Open-Sans;
  a {
    text-decoration: none;
  }

  span.ant-breadcrumb-link {
    color: #702a14;
    font-weight: 700;
    text-transform: capitalize;
  }
  a.ant-breadcrumb-link {
    color: #4c4c4c;
  }
  .icon-home {
    img {
      margin-right: 8px;
    }
    color: #4c4c4c;
    font-family: Open-Sans;
  }
}

span.ant-dropdown-menu-title-content {
  font-family: Open-Sans;
}
