.doctor-table {
  &__filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    .input-search {
      width: 350px;
    }

    .select-category {
      width: 184px;
    }

    .select-status {
      width: 184px;
    }

    .dropdown-location {
      width: 184px;
      display: flex;
      align-items: center;
      gap: 5px;

      .anticon-down {
        position: absolute;
        right: 15px;
      }
    }

    .dropdown-location:hover {
      color: inherit;
      /* Sử dụng màu văn bản mặc định */
      background-color: inherit;
      /* Sử dụng màu nền mặc định */
    }
    .ant-select-selector {
      align-items: center;
    }
  }

  .manager-doctor {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .status-doctor {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .action-doctor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
      cursor: pointer;
    }
  }
}
