.confirm-cancel-modal {
  width: 352px !important;
  height: 168px;
  border-radius: 16px;
  font-family: Open-Sans;

  .title {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: $text_black_grey;

    .name {
      font-weight: 700;
      color: $text_black_grey;
      display: block;
    }
  }

  .action {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    .button-cancel {
      width: 146px;
      border-color: $text_cancel_btn !important;
      color: $text_cancel_btn !important;

      span {
        font-weight: 600;
      }
    }

    .button-confirm {
      width: 146px;
      background-color: $primary_color;
      color: $text_white !important;
      border-color: inherit !important;

      span {
        font-weight: 600;
      }
    }
  }
}
