.form-create-booking {
  .right-container {
    .schedule-info-area {
      .schedule-info {
        display: flex;
        flex-direction: column;

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          &__title {
            font-size: 14px;
            font-weight: 700;
            line-height: 32px;
            color: $secondary_color;
          }

          &__switch {
            display: flex;
            align-items: center;
            gap: 10px;

            &__label {
              color: $secondary_color;
              font-size: 14px;
              font-weight: 600;
              line-height: 24px;
            }
          }
        }

        &__break-line {
          width: 100%;
          border-bottom: 1px solid $border_input_color;
          padding-bottom: 10px;
          margin-bottom: 20px;
          margin-top: 10px;
        }

        &__content {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;

          &__rows {
            .hour {
              width: 100%;

              .ant-picker {
                width: 100%;
                height: 48px;
                border-radius: 24px;
              }
            }
          }

          #custom-popup-date-picker {
            margin-bottom: 18px;

            .schedule {
              //height: 30px;
              .ant-form-item-label {
                //opacity: 0;
              }

              .ant-picker {
                opacity: 0;
                width: 100%;
                height: 1px;
              }

              .ant-form-item-row {
                width: 100%;

                .ant-form-item-control {
                  height: 1px;
                }

                .ant-form-item-control-input {
                  margin-top: -20px;
                }
              }
            }

            .ant-form-item {
              display: flex;
              justify-content: flex-end;
              padding: unset !important;
              margin: unset !important;
            }

            .ant-dropdown {
              z-index: 9999;
              top: 0 !important;
              left: 0 !important;
              right: auto !important;
              bottom: auto !important;
              transform: none !important;
            }
          }
        }
      }

      .ant-form-item {
        margin-bottom: 10px;

        .ant-form-item-row {
          flex-direction: column;
        }

        .ant-form-item-label {
          text-align: start;
          padding: unset;

          label {
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            color: $text_black_light;
          }
        }
      }
    }
    .disable {
      pointer-events: none;
      .ant-picker-cell-selected {
        .ant-picker-cell-inner {
          background-color: $date-picker-cell-disabled !important;
        }
      }

      .ant-picker-cell-today {
        .ant-picker-cell-inner::before {
          border: 1px solid $date-picker-cell-disabled !important;
        }
      }
    }
    .ant-select-item-option,
    .ant-select-item-option-active {
      background-color: white;
    }
    .time-picker {
      display: flex;
      flex-direction: column;
      &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: $text_black_light;
      }
      &__content {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        &__title {
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: $secondary_color;
        }
        &__list-item {
          display: grid;
          grid-template-rows: auto auto;
          gap: 4px;
          width: 100%;
          grid-template-columns: repeat(auto-fill, 99px);
          &__item {
            width: 99px;
            height: 30px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .expired,
          .day_off {
            border: 0.4px solid $booking_time_expired;
            background-color: $booking_time_expired;
            color: $text_grey;
          }
          .full {
            border: 0.4px solid $booking_time_full;
            background-color: $booking_time_full;
            color: $text_white;
          }
          .not_available {
            border: 0.4px solid $booking_time_full;
            background-color: $booking_time_full;
          }
          .available {
            border: 0.4px solid $booking_time_border;
            background-color: $booking_time_available;
            color: $booking_time_text;
          }
          .current_select {
            border: 0.4px solid $primary_color;
            background-color: $primary_color;
            color: $text_white;
          }
          .disable_select {
            pointer-events: none;
          }
        }
      }
    }
  }
}
