.flex-reverse {
  flex-direction: row-reverse;
}

.item-center {
  display: flex;
  justify-content: center;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: $border_input_color;
}

.line-title {
  width: 94px;
  height: 2px;
  background-color: $primary_color;
}

.custom-table {
  .ant-table {
    border-radius: 12px;
  }

  .ant-table-container {
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;
  }

  .ant-table-thead > tr > th {
    background: $table_header_color;
  }

  .ant-table-container table > thead > tr:first-child > *:first-child {
    border-start-start-radius: 12px;
  }

  .ant-table-container table > thead > tr:first-child > *:last-child {
    border-start-end-radius: 12px;
  }

  .ant-table-container table > tbody > tr:last-child > *:first-child {
    border-end-start-radius: 12px;
  }

  .ant-table-container table > tbody > tr:last-child > *:last-child {
    border-end-end-radius: 12px;
  }
}

.custom-pagination {
  .ant-pagination-item,
  .ant-pagination-item-link {
    border: 1px solid $table_pagination_border !important;
    border-radius: 2px !important;
  }

  .ant-pagination-item-active {
    background-color: $secondary_color;
    color: $text_white;
  }
}

.cadastral {
  .cadastral_item {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;

    .province,
    .district,
    .ward,
    .address {
      width: 50%;
    }
  }
}

.custom-checkbox {
  width: 100%;
  .ant-checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  .ant-checkbox-inner {
    background-color: unset !important;
    width: 22px;
    height: 22px;
  }

  .ant-checkbox-inner::after {
    border-color: $primary_color;
    top: 45%;
    inset-inline-start: 30%;
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      border: 1px solid $primary_color !important;
    }
  }

  .ant-checkbox-checked:after {
    border-color: $primary_color;
    border: 1px solid $primary_color;
    background-color: unset !important;
  }

  .custom-label-checkbox {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      max-width: 25px;
      max-height: 25px;
    }
  }
}

.ant-form-item-required {
  flex-direction: row-reverse;
  gap: 5px;
}

.ant-form-item-required::after {
  content: unset !important;
}
