.flex-reverse {
  flex-direction: row-reverse;
}

.item-center {
  display: flex;
  justify-content: center;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: $border_input_color;
}

.line-title {
  width: 94px;
  height: 2px;
  background-color: $primary_color;
}

.custom-switch {
  .ant-switch-checked,
  .ant-switch-checked:hover {
    background: $primary_color !important;
  }
}

.select-multiple {
  min-height: 48px;
  height: auto !important;

  .ant-select-selector {
    min-height: 48px;
  }

  .ant-select-selection-overflow {
    padding: 0px 15px;
    flex-wrap: wrap;
    overflow: unset !important;

    .ant-select-selection-item {
      overflow: unset;
      text-overflow: unset;
      white-space: unset;
      height: unset;

      .ant-select-selection-item-content {
        width: 98%;
        overflow: unset;
        text-overflow: unset;
        white-space: unset;
        word-break: break-all;
      }
    }
  }
}

.custom-table {
  .ant-table {
    border-radius: 12px;
    overflow: auto;
  }

  .ant-table-container {
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;

    .ant-table-cell {
      word-break: break-all;
    }
  }

  .ant-table-thead > tr > th {
    background: $table_header_color;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }

  .ant-table-container table > thead > tr:first-child > *:first-child {
    border-start-start-radius: 12px;
  }

  .ant-table-container table > thead > tr:first-child > *:last-child {
    border-start-end-radius: 12px;
  }

  .ant-table-container table > tbody > tr:last-child > *:first-child {
    border-end-start-radius: 12px;
  }

  .ant-table-container table > tbody > tr:last-child > *:last-child {
    border-end-end-radius: 12px;
  }

  .ant-table-container table > thead > tr > th {
    color: $table_title_name;
  }
}

.custom-pagination {
  .ant-pagination-item,
  .ant-pagination-item-link {
    border: 1px solid $table_pagination_border !important;
    border-radius: 2px !important;
  }

  .ant-pagination-item-active {
    background-color: $secondary_color;
    color: $text_white;
  }

  & .ant-pagination-jump-next,
  & .ant-pagination-jump-prev {
    & > .ant-pagination-item-link {
      display: block;
      width: auto;
      border: 0 !important;

      & .ant-pagination-item-link-icon {
        color: #ee5824;
      }
    }
  }
}

.cadastral {
  .cadastral_item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;

    .ant-form-item-label {
      font-size: 14px;
      font-family: Open-sans !important;
      font-weight: 700;
      line-height: 22px;
    }
  }

  .ant-select-selector {
    align-items: center;
  }

  .province,
  .district,
  .ward,
  .address {
    width: 50%;
  }
}

.custom-checkbox {
  width: 100%;

  .ant-checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  .ant-checkbox-inner {
    background-color: unset !important;
    width: 22px;
    height: 22px;
  }

  .ant-checkbox-inner::after {
    border-color: $primary_color;
    top: 45%;
    inset-inline-start: 30%;
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      border: 1px solid $primary_color !important;
    }
  }

  .ant-checkbox-checked:after {
    border-color: $primary_color;
    border: 1px solid $primary_color;
    background-color: unset !important;
  }

  .custom-label-checkbox {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      max-width: 25px;
      max-height: 25px;
    }
  }
}

.custom-checkbox-disabled {
  pointer-events: none;
  width: 100%;

  .ant-checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  .ant-checkbox-inner {
    background-color: unset !important;
    width: 22px;
    height: 22px;
  }

  .ant-checkbox-inner::after {
    border-color: $text_grey;
    top: 45%;
    inset-inline-start: 30%;
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      border: 1px solid $text_grey !important;
    }
  }

  .ant-checkbox-checked:after {
    border-color: $text_grey;
    border: 1px solid $text_grey;
    background-color: unset !important;
  }

  .custom-label-checkbox {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      max-width: 25px;
      max-height: 25px;
    }
  }
}

.ant-form-item-required {
  flex-direction: row-reverse;
  gap: 5px;
}

.ant-form-item-required::after {
  content: unset !important;
}

// .ant-layout-content {
//   overflow: unset !important;
// }

//.ant-form-item {
//  .ant-form-item-label {
//    .ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
//      display: none !important;
//    }
//    .ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
//      display: inline-block;
//      margin-inline-end: 4px;
//      color: #ff4d4f;
//      font-size: 14px;
//      line-height: 1;
//      content: '*';
//    }
//  }
//}

.text-error {
  color: $text_error;
  font-size: 14px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@for $i from 1 through 64 {
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

@for $i from 0 through 500 {
  .m-t-#{$i} {
    margin-top: #{$i}px;
  }

  .m-b-#{$i} {
    margin-bottom: #{$i}px;
  }

  .m-l-#{$i} {
    margin-left: #{$i}px;
  }

  .m-r-#{$i} {
    margin-right: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }

  .m-t-b-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .m-l-r-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .p-t-#{$i} {
    padding-top: #{$i}px !important;
  }

  .p-b-#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .p-l-#{$i} {
    padding-left: #{$i}px !important;
  }

  .p-r-#{$i} {
    padding-right: #{$i}px !important;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .p-t-b-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .p-l-r-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .m-t-#{$i}-n {
    margin-top: -#{$i}px;
  }

  .m-b-#{$i}-n {
    margin-bottom: -#{$i}px;
  }

  .m-l-#{$i}-n {
    margin-left: -#{$i}px;
  }

  .m-r-#{$i}-n {
    margin-right: -#{$i}px;
  }

  .m-#{$i}-n {
    margin: -#{$i}px;
  }

  .m-t-b-#{$i}-n {
    margin-top: -#{$i}px;
    margin-bottom: -#{$i}px;
  }

  .m-l-r-#{$i}-n {
    margin-left: -#{$i}px;
    margin-right: -#{$i}px;
  }

  .gap-#{$i} {
    gap: #{$i}px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

select[multiple] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Các thuộc tính CSS khác */
}

.color-1A1A1A {
  color: #1a1a1a !important;
}

.color-ffffff {
  color: #ffffff !important;
}

.background-color-primary {
  background-color: #ee5824 !important;
}

.font-family-primary {
  font-family: Open-Sans;
}

.border-radius-circle {
  border-radius: 50%;
}

@for $i from 0 through 2000 {
  .width-#{$i} {
    width: #{$i}px !important;
  }

  .height-#{$i} {
    height: #{$i}px !important;
  }

  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }

  .min-height-#{$i} {
    min-height: #{$i}px !important;
  }

  .max-width-#{$i} {
    max-width: #{$i}px !important;
  }

  .max-height-#{$i} {
    max-height: #{$i}px !important;
  }
}

.custom-popup-picker {
  top: 5px !important;
  position: relative;
  z-index: 1;
  .ant-picker-panel-container {
    width: 100%;
    border-radius: 16px;

    .ant-picker-date-panel {
      width: 100%;
    }

    .ant-picker-header {
      background-color: #f4f8fb;

      .ant-picker-header-super-prev-btn,
      .ant-picker-header-super-next-btn {
        display: none;
      }
    }

    .ant-picker-body {
      .ant-picker-content {
        width: 100%;

        thead {
          display: none;
        }

        .ant-picker-cell-selected {
          .ant-picker-cell-inner {
            background-color: $primary_color;
            border-radius: 50%;
          }
        }

        .ant-picker-cell,
        .ant-picker-cell:hover {
          .ant-picker-cell-inner {
            border-radius: 50%;
          }
        }

        .ant-picker-cell-today {
          .ant-picker-cell-inner::before {
            border: 1px solid $primary_color;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.disable {
  svg {
    cursor: no-drop !important;
  }
}
