@font-face {
  font-family: 'Open-Sans';
  src: url(../../public/font/OpenSans-VariableFont.ttf);
}

@font-face {
  font-family: 'Open-Sans-Italic';
  src: url(../../public/font/OpenSans-Italic-VariableFont.ttf);
}

$primary_color: #ee5824;
$secondary_color: #702a14;
$border_input_color: #cccccc;
$text_black: #000000;
$text_black_grey: #333333;
$text_black_light: #1a1a1a;
$text_white: #ffffff;
$text_warning: #d63a3a;
