@font-face {
  font-family: 'Open-Sans';
  src: url(../../public/font/OpenSans-VariableFont.ttf);
}

@font-face {
  font-family: 'Open-Sans-Italic';
  src: url(../../public/font/OpenSans-Italic-VariableFont.ttf);
}

$primary_color: #ee5824;
$secondary_color: #702a14;
