#admin-management {
  .admin-management__header {
    header {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $text_black_light;
      font-family: 'Open-sans';
    }
  }

  .admin-management__body {
    margin-top: 20px;
    justify-content: space-between;
    .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
    }

    .admin-management__body-info {
      .admin-management__info-header {
        justify-content: space-between;

        header {
          font-family: 'Open-sans';
          font-size: 20px;
          font-weight: 700;
          color: $secondary_color;
        }

        span {
          margin-right: 4px;
          font-weight: 600;
          font-size: 16px;
          color: $secondary_color;
          font-family: 'Open-sans';
        }
      }

      .admin-management__body-data {
        margin-top: 20px;

        &__avatar {
          width: 30%;
          height: fit-content;
          position: relative;
        }

        .admin-management__info-item {
          justify-content: space-between;
          header {
            color: $text_black_light;
            font-family: 'Open-sans';
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
          }
          .date-select {
            height: 48px;
            border-radius: 32px;
            width: 100%;
          }

          .admin-management__info-change {
            display: flex;
            align-items: center;
            margin-top: 12px;
            text-decoration: underline;
            justify-content: center;
            color: $primary_color;
          }

          .admin-management__item-select {
            width: 100%;

            .ant-select-selector {
              height: 48px;
              border-radius: 32px;
              width: 100%;
            }

            .ant-select-selection-item {
              display: flex;
              align-items: center;
            }
          }

          .ant-form-item {
            width: 100%;
          }
        }
      }
    }

    .admin-management__body-role {
      display: flex;
      flex-direction: column;
      justify-content: inherit;

      .admin-management__role-checkox {
        flex: 1;

        .admin-management__role-header {
          font-family: 'Open-sans';
          font-size: 20px;
          font-weight: 700;
          color: $secondary_color;
        }

        .admin-management__role-checkboxGroup {
          margin-top: 15px;

          .ant-form-item-control-input-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            word-break: break-all;
          }

          // div {
          //   width: 100%;
          // }
          // .ant-form-item-control-input-content {
          //   columns: 1;
          //   -webkit-columns: 1;
          //   -moz-columns: 1;
          //   .ant-checkbox-wrapper {
          //     width: 50%;
          //     margin-top: 15px;
          //     font-size: 16px;
          //     font-family: 'Open-Sans' !important;
          //   }
          // }
        }
      }

      .admin-management__role-submit {
        margin-top: 20px;
        height: 120px;
        align-items: center;

        button {
          border-radius: 32px;
          height: 48px;
          font-size: 16px;
          font-family: 'Open-sans';
        }

        .admin-submit-remove {
          color: $primary_color;
        }
      }
    }
  }

  .ant-form-item {
    .ant-form-item-row {
      .ant-form-item-label {
        label {
          color: $text_black_light;
          font-family: 'Open-sans';
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
        }
      }
    }
  }
}

.line-element {
  width: 94px;
  height: 2px;
  margin-top: 2px;
  background-color: $primary_color;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-btn-default:not(:disabled):hover {
  border-color: unset;
  color: unset;
}
