#login-form {
  .form-name {
    max-width: 400px;

    .form-name-header {
      font-size: 14px;
      font-weight: 700;
      color: $secondary_color;
    }

    p {
      font-family: 'Open-Sans' !important;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      width: 400px;
      color: $text_cancel_btn;

      span {
        font-weight: 600;
        color: $text_black_light;
      }
    }

    div {
      width: 72px;
      height: 2px;
      background: $primary_color;
    }
  }

  .form-data {
    min-height: 50%;
  }

  .confirm-code {
    .confirm-code-input {
      display: flex;
      align-items: center;
      justify-content: center;

      input,
      .otp-input {
        width: 42px !important;
        height: 42px !important;
        background-color: $background_blue_light;
        font-size: 14px;
        font-weight: 600;
        line-height: 36;
        color: $secondary_color;
        border-color: $text_warning;
        margin: 0 6px;
        border-width: 1px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
      }
    }

    .confirm-code-messenger {
      margin-top: 16px;
      margin-bottom: 0;
      text-align: center;
      color: $primary_color;

      span {
        cursor: pointer;
      }
    }
  }

  .btn-fogot-success {
    margin-top: 0;
  }

  .ant-result-success {
    .ant-result-subtitle {
      font-size: 14px;
      line-height: 24px;
      color: $text_black_grey;
    }
  }
}

.ant-result {
  .ant-result-subtitle {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: $text_black_grey;
  }

  .ant-result-title {
    color: $secondary_color;
    font-weight: 700;
    margin-top: 40px;
  }
}
