#login-form {
  .form-name {
    max-width: 374px;
    .form-name-header {
      font-size: 24px;
      font-weight: 700;
      color: #702a14;
    }

    div {
      width: 72px;
      height: 2px;
      background: #ee5824;
    }
  }
  .form-data {
    min-height: 50%;
  }
  .confirm-code {
    .confirm-code-input {
      display: flex;
      align-items: center;
      justify-content: center;
      input,
      .otp-input {
        width: 42px !important;
        height: 42px !important;
        background-color: #f4f8fb;
        margin: 0 6px;
        border-color: #702a14;
        border-width: 1px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
      }
    }
    .confirm-code-messenger {
      margin-top: 16px;
      text-align: center;
      color: #ee5824;
      cursor: pointer;
    }
  }
}

.ant-result {
  .ant-result-subtitle {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #333333;
  }
  .ant-result-title {
    color: #702a14;
    font-weight: 700;
  }
}
.ant-result-success {
  padding-bottom: 0;
  .ant-result-icon > .anticon {
    color: #ee5824 !important;
  }
}
