#create-booking-management {
  .create-booking-header {
    display: flex;
    align-items: center;
    color: $text_black_light;
    margin-bottom: 10px;

    &__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 36px;
    }
    &__code {
      margin-left: 10px;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
    }
    &__copy {
      svg {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .header-form {
      width: 80%;
      display: flex;
      align-items: center;
      .status {
        margin: unset;
        display: inline-block;
      }
    }
    &__select-status {
      margin-left: 20px;
      width: 141px !important;
      height: 40px !important;
      .ant-select-selector {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $text_black_grey;
        .ant-select-selection-item {
          width: 89px;
          display: flex;
          align-items: center;
        }
      }
    }
    &__select-status-pending {
      .ant-select-selector {
        border: 1px solid $status_pending_border !important;
        background-color: $status_pending !important;
      }
    }
    &__select-status-cancelled {
      .ant-select-selector {
        border: 1px solid $status_cancelled_border !important;
        background-color: $status_cancelled !important;
      }
    }
    &__select-status-approved {
      .ant-select-selector {
        border: 1px solid $status_approved_border !important;
        background-color: $status_approved !important;
      }
    }
    &__select-status-completed {
      .ant-select-selector {
        border: 1px solid $status_completed_border;
        background-color: $status_completed;
      }
    }
  }
  .form-create-booking {
    display: flex;
    gap: 15px;
    max-width: 100% !important;
    .ant-select-selection-search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .left-container {
      padding: 24px;
      width: 60%;
      border: 1px solid $border_input_color;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    .right-container {
      width: 40%;
      .schedule-info-area {
        padding: 20px 15px;
        width: 100%;
        border: 1px solid $border_input_color;
        border-radius: 24px;
      }

      .action-area {
        .rows {
          .checkbox {
            margin-top: 10px;
            margin-bottom: 0;
          }
          .button-save {
            margin-top: 30px;
            width: 100%;
            background-color: $primary_color;
            color: $text_white;
            border: unset;
          }
          .button-cancel {
            width: 100%;
            border: unset;
            box-shadow: unset;
            color: unset;
          }
        }
      }
    }
  }
}
