#admin-clinic-change-password {
  .action {
    width: 100%;
    display: flex;
    justify-content: center;
    .button-submit {
      margin-top: 50px;
      width: 350px;
      background-color: $primary_color;
      color: $text_white !important;
      border: unset;
    }
  }
}
