#clinic-management {
  .ant-card-body {
    min-height: 85vh;
  }

  overflow: auto;

  .clinic-management__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $text_black_light;
    }

    .button-add {
      width: 244px;
      border: unset;
      display: flex;
      align-items: center;
      background-color: $primary_color;
      color: $text_white;
    }
  }

  .clinic-management__filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    .input-search {
      width: 350px;
    }

    .select-province,
    .select-district,
    .select-ward {
      width: 184px;

      .ant-select-selection-search {
        input {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      .ant-select-selection-placeholder {
        display: flex;
        align-items: center;
      }
    }

    .dropdown-location:hover {
      color: inherit;
      /* Sử dụng màu văn bản mặc định */
      background-color: inherit;
      /* Sử dụng màu nền mặc định */
    }
  }

  .table-visible {
    .ant-table {
      overflow: visible;
    }
  }

  .manager-clinic {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__more {
      position: relative;

      &__list {
        position: absolute;
        min-width: 408px;
        top: 30px;
        right: 0;
        z-index: 100;
        background: $text_white;
        // border: 1px solid $border_input_color;
        border-radius: 16px;
        width: 250px;
        box-shadow: 0px 4px 24px 0px #00000029;

        &__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $border_input_color;
          padding: 10px;

          &__label {
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
          }

          span {
            cursor: pointer;
          }
        }

        &__content {
          padding: 10px;
          max-height: 400px;
          overflow: auto;

          &__item {
            color: $secondary_color;
            margin: 5px 0px;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }
    }
  }

  .status-clinic {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .action-clinic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
      cursor: pointer;
    }
  }
}

#create-clinic-management {
  .create-clinic-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $text_black_light;
    margin-bottom: 10px;
  }

  .clinic-content {
    margin-top: 20px;
    display: flex;
    // align-items: center;
    gap: 15px;
    max-width: 100% !important;

    .form-create-clinic {
      max-width: unset !important;
      padding: 20px 15px;
      width: 70%;
      border: 1px solid $border_input_color;
      border-radius: 24px;

      .ant-form-item {
        .ant-form-item-row {
          .ant-form-item-label {
            label {
              color: $text_black_light;
              font-size: 14px;
              font-weight: 700;
              line-height: 22px;
            }
          }

          .ant-form-item-control-input-content {
            input {
              font-size: 14px;
            }
          }
        }
      }

      .clinic-info {
        display: flex;
        justify-content: space-between;

        &__title {
          font-size: '14px';
          font-weight: 700;
          line-height: 32px;
          color: $secondary_color;
          width: 30%;
        }

        &__content {
          width: 70%;

          &__rows {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            width: 100%;
          }

          .name {
            width: 70%;
          }

          .code {
            width: 30%;
          }

          .workTime {
            width: 50%;

            .ant-picker {
              width: 100%;
              height: 48px;
              border-radius: 24px;
            }
          }

          .status,
          .province,
          .district,
          .address,
          .ward {
            width: 50%;
          }
        }
      }
    }

    .container-right {
      width: 30%;
      height: auto;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;

      .form-create-manager {
        max-width: unset !important;
        padding: 20px 15px;
        border: 1px solid $border_input_color;
        border-radius: 24px;

        .manager-info {
          margin-bottom: 15px;

          &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title {
              font-size: '14px';
              font-weight: 700;
              line-height: 32px;
              color: $secondary_color;
              width: 30%;
            }

            .button-add {
              width: 116px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $primary_color;
              border: 1px solid $primary_color;

              span {
                font-weight: 600;
              }
            }
          }

          .list-box {
            min-height: 200px;
            max-height: 300px;
            overflow: auto;
            margin-top: 15px;
          }

          &__list {
            border: 1px solid $border_input_color;
            border-radius: 8px;

            &__item {
              padding: 10px 20px 10px 30px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;

              &__info {
                word-break: break-all;

                &__name {
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 24px;
                  color: $text_black_light;
                }

                &__email {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 22px;
                  color: $text_disabled;
                }
              }

              &__delete {
                z-index: 10;
              }
            }

            .border-manager {
              border-bottom: 1px solid $border_input_color;
            }
          }
        }

        .code {
          width: 194px;
        }

        .clinic {
          width: 397px;
        }

        .ant-form-item {
          margin-bottom: 10px;

          .ant-form-item-label {
            padding: unset;

            label {
              font-size: 14px;
              font-weight: 700;
              line-height: 22px;
              color: $text_black_light;
            }
          }
        }
      }

      .button-action {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .more-action {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        .button-create,
        .button-save {
          width: 100%;
          background-color: $primary_color;
          color: $text_white;
          border: unset;
        }

        .button-delete {
          width: 100%;
          border: unset;
          box-shadow: unset;
          color: $text_warning;
        }

        .button-cancel {
          width: 100%;
          border: unset;
          box-shadow: unset;
          color: unset;
        }
      }
    }
  }

  .list-doctor {
    margin-top: 15px;

    &__title {
      font-size: '14px';
      font-weight: 700;
      line-height: 32px;
      color: $secondary_color;
      margin-bottom: 15px;
    }

    .status-doctor {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
