#doctor-management {
  overflow: auto;

  .doctor-management__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 36px;
      color: $text_black_light;
    }

    .button-add {
      border: unset;
      display: flex;
      align-items: center;
      background-color: $primary_color;
      color: $text_white;
      justify-content: center;
      width: 187px;

      span {
        font-weight: 600;
      }
    }
  }

  .ant-table-content {
    .ant-table-thead {
      tr > th {
        font-weight: 700;
      }
    }
  }
}

#create-doctor-management {
  .create-doctor-header {
    display: flex;
    justify-content: space-between;
  }

  .create-doctor-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    color: $text_black_light;
    margin-bottom: 10px;
  }

  .button-schedule {
    border: unset;
    display: flex;
    align-items: center;
    background-color: $primary_color;
    color: $text_white;
    justify-content: center;
    width: 163px;

    .ant-btn-icon {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    span {
      font-weight: 600;
    }
  }

  .form-create-doctor {
    margin-top: 20px;
    display: flex;
    // align-items: center;
    gap: 15px;
    max-width: 100% !important;

    .doctor-info {
      padding: 20px 15px;
      width: 70%;
      border: 1px solid $border_input_color;
      border-radius: 24px;

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__title {
          font-size: 14px;
          font-weight: 700;
          line-height: 32px;
          color: $secondary_color;
        }

        &__switch {
          display: flex;
          align-items: center;
          gap: 10px;

          &__label {
            color: $secondary_color;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }

      &__content {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        gap: 25px;

        // &__avatar {
        //   width: 30%;
        //   height: fit-content;
        //   position: relative;
        // }

        &__info {
          width: 70%;

          &__rows {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            width: 100%;

            .ant-form-item-label > label {
              color: $text_black_light !important;
              font-family: Open-sans !important;
              font-size: 14px;
              font-weight: 700;
              line-height: 22px;
            }

            .block {
              width: 100%;
            }
          }

          .name {
            width: 70%;
          }

          .code {
            width: 30%;
          }

          .dob {
            width: 50%;

            .ant-picker {
              width: 100%;
              height: 48px;
              border-radius: 24px;
            }
          }

          // .level,
          // .specialist,
          // .status,
          .email,
          .phone,
          .gender {
            width: 50%;
          }

          .request {
            width: 100%;
          }
        }
      }
    }

    .achievement {
      width: 30%;
      display: flex;
      flex-direction: column;

      &__data {
        // flex: 1;
        border: 1px solid $border_input_color;
        border-radius: 24px;
        padding: 20px 15px;
        height: 584px;

        &__history,
        &__experiment {
          &__title {
            font-size: 14px;
            font-weight: 700;
            line-height: 32px;
            color: $secondary_color;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .button-action {
    margin-top: 20px;
    float: right;
    width: 100%;

    .more-action {
      display: flex;
      flex-direction: column;
    }

    .button-create,
    .button-save {
      width: 100%;
      background-color: $primary_color;
      color: $text_white;
      border: unset;
    }

    .button-delete {
      width: 100%;
      border: unset;
      box-shadow: unset;
      color: $text_warning;
    }

    .button-cancel {
      width: 100%;
      border: unset;
      box-shadow: unset;
      color: unset;
    }
  }

  .ant-select-selector {
    align-items: center;
  }
}

.ant-btn-primary {
  background-color: $primary_color !important;
}
