#setting {
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $text_black_light;
  }

  .content {
    margin-top: 15px;
    display: flex;
    gap: 20px;

    &__left-container {
      width: 100%;
      border: 1px solid $border_input_color;
      border-radius: 24px;
      padding: 15px;

      .clinic-info {
        display: flex;
        justify-content: start;

        &__title {
          font-size: 20px;
          font-weight: 700;
          line-height: 32px;
          color: $secondary_color;
          width: 25%;
        }

        &__content {
          width: 40%;

          &__rows {
            display: flex;
            align-items: center;
            gap: 15px;
            width: 100%;
          }

          .box-upload {
            width: 100%;
            margin-bottom: 15px;
            gap: unset;
          }

          .custom-box-image {
            width: 130%;
          }

          &__image {
            width: 100%;
            height: 174px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-height: 100%;
              max-width: 100%;
              border-radius: 16px;
            }
          }

          &__upload {
            margin-bottom: unset;
            width: 30%;
            display: flex;
            justify-content: center;

            .icon__text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
          }

          .code {
            width: 30%;
          }

          .workTime {
            width: 50%;

            .ant-picker {
              width: 100%;
              height: 48px;
              border-radius: 24px;
            }
          }

          .status,
          .province,
          .district,
          .address,
          .ward {
            width: 50%;
          }
        }
      }

      .schedule-setting {
        display: flex;

        &__title {
          font-size: 20px;
          font-weight: 700;
          line-height: 32px;
          color: $secondary_color;
          width: 25%;
        }

        &__content {
          width: 75%;
          margin-top: 50px;

          &__label {
            display: flex;

            &__item {
              width: 12.5%;
              height: 44px;
              border: 1px solid $border_input_color;
              border-bottom: unset;
              border-right: unset;
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
            }

            &__item:first-child {
              border-radius: 12px 0 0 0;
              justify-content: flex-start;
            }

            &__item:last-child {
              border-right: 1px solid $border_input_color;
              border-radius: 0 12px 0 0;
            }
          }

          &__before {
            display: flex;

            &__item {
              width: 12.5%;
              height: 44px;
              border: 1px solid $border_input_color;
              border-bottom: unset;
              border-right: unset;
              //padding: 10px 2px;
              padding-top: 5px;
              display: flex;
              //justify-content: center;
              //align-items: center;

              .time {
                border: 1px solid $border_input_color;
                border-radius: 32px;
                padding: 5px;
              }
            }

            &__item:first-child {
              justify-content: flex-start;
              padding: 10px;
            }

            &__item:last-child {
              border-right: 1px solid $border_input_color;
            }
          }

          &__after {
            display: flex;

            &__item {
              width: 12.5%;
              height: 44px;
              border: 1px solid $border_input_color;
              border-right: unset;
              //padding: 10px 2px;
              display: flex;
              //justify-content: center;
              //align-items: center;
              padding-top: 5px;

              .time {
                border: 1px solid $border_input_color;
                border-radius: 32px;
                padding: 5px;
              }
            }

            &__item:first-child {
              border-radius: 0 0 0 12px;
              justify-content: flex-start;
              padding: 10px;
            }

            &__item:last-child {
              border-right: 1px solid $border_input_color;
              border-radius: 0 0 12px 0;
            }
          }

          .disable-time {
            .time {
              opacity: 0.5;
            }
          }

          // display: flex;
          // width: 100%;
          // margin-top: 15px;

          // &__label {
          //   width: 12.5%;
          //   border: 1px solid $border_input_color;
          //   border-right: unset;
          //   border-radius: 12px 0 0 12px;

          //   div {
          //     height: 44px;
          //     border-bottom: 1px solid $border_input_color;
          //     padding: 10px;
          //   }

          //   div:last-child {
          //     border-bottom: unset;
          //   }
          // }

          // &__day {
          //   width: 12.5%;
          //   border: 1px solid $border_input_color;
          //   border-right: unset;

          //   .header {
          //     display: flex;
          //   }

          //   div {
          //     height: 44px;
          //     text-align: center;
          //     border-bottom: 1px solid $border_input_color;
          //     padding: 10px;
          //     display: flex;
          //     justify-content: center;
          //     align-items: center;
          //     gap: 7px;

          //     .time {
          //       border: 1px solid $border_input_color;
          //       border-radius: 32px;
          //       padding: 5px;
          //     }
          //   }

          //   div:last-child {
          //     border-bottom: unset;
          //   }
          // }

          // &__day:last-child {
          //   border-right: 1px solid $border_input_color;
          //   border-radius: 0 12px 12px 0;
          // }

          .ant-checkbox-group {
            display: grid;
            gap: 10px;

            .ant-checkbox-inner {
              border: 1.8px solid $primary_color;
              background-color: unset;
              width: 20px;
              height: 20px;
            }

            .ant-checkbox-inner::after {
              border-color: $primary_color;
              top: 45%;
              inset-inline-start: 30%;
            }

            .ant-checkbox-checked:after {
              border-color: $primary_color;
              border: 1px solid $primary_color;
            }
          }
        }
      }
    }

    .category-select {
      display: flex;
      justify-content: start;
      //padding: 15px;

      &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        color: $secondary_color;
        width: 25%;
      }

      &__content {
        //margin-top: 10px;
        width: 40%;

        .ant-checkbox-group {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;

          .ant-checkbox-inner {
            border: 1px solid $primary_color;
            background-color: unset;
            width: 22px;
            height: 22px;
          }

          .ant-checkbox-inner::after {
            border-color: $primary_color;
            top: 45%;
            inset-inline-start: 30%;
          }

          .ant-checkbox-checked:after {
            border-color: $primary_color;
            border: 1px solid $primary_color;
          }
        }
      }
    }

    .button-action {
      margin-left: 25%;
      width: 40%;
      display: flex;
      margin-top: 35px;
      //justify-content: center;

      .button-save {
        width: 100%;
        background-color: $primary_color;
        color: $text_white;
        border: unset;
      }
    }

    .ant-picker,
    .ant-picker-range {
      border-radius: 15px;
      margin: 0 3px;
    }

    .ant-picker-input,
    .ant-picker-input-active {
      width: 60%;
    }
  }
}
