#login-form {
  .form-name {
    max-width: 374px;
    .form-name-header {
      font-size: 24px;
      font-weight: 700;
      color: #702a14;
    }
  }
  .form-data {
    min-height: 50%;
  }
  .confirm-code {
    .confirm-code-input {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: 40px;
        margin: 0 6px;
        border-color: #702a14;
      }
    }
    .confirm-code-messenger {
      margin-top: 16px;
      text-align: center;
      color: #ee5824;
    }
  }
}
