.ant-custom-button {
  border-radius: 32px;
  height: 48px;

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: Open-Sans !important;
  }
}

.button-cancel {
  span {
    color: $text_black_grey;
  }
}
